.chat-sidebar {
  background-color: #f5f5f5;
  padding: 20px 5px 0px 0px;
  overflow: hidden;
  }
  
  .chat {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -3%;
  }
  
  .chat-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .chat-info {
    display: flow-root;
    color: #0D163A;
}

  .chat-status {
    display: flow-root;
    color: #0D163A;
  }
  .chat_name{
    display: flex;
    align-items: baseline;
    gap: 20px;
  }
  .unread .sent .typing .read{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .unread h6{
    color: #fc3030;
  }
.read h6{
  color: grey
}
.sent h6::after{
content: "\2714\2714";
}
.sent h6{
  color: lightblue;
}
.typing h6{
  color: green;
}
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -7%;
  }
  
  .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
  }


  /* Request Card Css */
  .card_overview{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    padding: 20px;
    margin: 20px;
  }
.chat_board{
  width: 30%;
}
  .request_info {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .card1{
    display: flex;
    gap: 20px;
  }
  .card2{
    display: flex;
    gap: 20px;
  }
  .request_card {
    border: 2px solid #f5f5f5;
    background-color: #B180EF;
    width: 50%;
    border-radius: 15px;
    padding: 2%;
  }
  .overview{
    margin-top: -10px;
  }
.email_box{
  display: grid;
  font-size: 16px;
}

.email_name{
  display:flex;
  background-color: grey;
  gap: 10px;
  border: 1px solid black;
  height: 50px;
  width: 100%;
  padding: 10px;

  margin-bottom: 5px;
}
.email_main{
  display: grid;
  width: 80%;
  margin: 20px;
}
.intials{
  border-radius: 50%;
  background-color: blue;
  width:40px;
  height:40px;
  text-align: center
}