.email-system {
    display: grid;
    color: black;
    font-size: 18px;
    width: 100%;
    margin: 20px;
  }
  
  .email-list {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    display: grid;
  }

  .email-summary {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    display: flex;
    gap: 1%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    align-items: center;
    justify-content: space-around;
  }
  .intials{
    color: rgb(1, 1, 1);
    border-radius: 50%;
    background: teal;
    display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
    padding: 10px;
  }

  .sent{
    color: green;
    background-color: aqua;
    border-radius: 50%;
    padding: 10px;
  }
  .inbox{
    color: green;
    background-color: beige;
    border-radius: 50%;
    padding: 10px;
  }
  
  .email-summary:hover {
    background-color: #f0f0f0;
  }
  
  .email-details {
    width: 70%;
    padding: 10px;
  }
  .emailForm form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
  }
  
  .emailForm label {
    margin-bottom: 10px;
  }
  
  .emailForm input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  .emailForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    height: auto;
    min-height: 300px;
  }
  
  .emailForm  button {
    background-color: #008000;
    color: white;
    font-size: 20px;
    padding: 1px 5px; 
    border: 1px solid #008000; 
    border-radius: 6px; 
    cursor: pointer;
  }

  .emailForm button:hover {
    background-color: #45a049;
  }
  
  .emailBut{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5%;
  }
  .emailheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
  .nibsscontent{
    display: grid;
    background-color: #f8f8f8;
  }