   .loginDiv{
    display: grid;
    position: relative;
    /* justify-content: end; */
    gap: 25px;
    color: white;
    justify-items: center;
    top: 30%;
    background-color: cadetblue;
    padding: 3%;
    width: 35%;
    left: 47%;
  }
   .signupDiv{
    display: grid;
    position: relative;
    /* justify-content: end; */
    gap: 25px;
    color: white;
    justify-items: center;
    top: 15%;
    background-color: cadetblue;
    padding: 3%;
    width: 35%;
    left: 47%;
  }
  .loginDivBut{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;

  }
  .loginDivBut button{
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font: 36px/1.5 "Inter";
    width: 150%;
  }
  .loginDiv a{
    color: white;
    text-decoration: none;
    font-style: italic;
    font-weight: 200;
    text-align: right;
    font-size: 32px;
  }
  .login{
    display: grid;
    color: white;
    gap: 25px;
  }
  .login input {
    width: 70vh;
    height: 5vh;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: none;
    color: white;
    font: 36px/1.5 "Inter";
  }
  .login ::placeholder {
    color: white;
    font: 36px/1.5 "Inter";
    font-weight: lighter;
    opacity: 50%;
  }
  button{
    padding: 10px;
    background-color: #CDADF5;
    color: #351063;
    border: 1;
    border-radius: 15px;
    cursor: pointer;
    /* width: 150%; */
    font: 36px/1.5 "Inter";
  }
 .signup a::after{
    content: " \25BC";
    font-size: 0.8em;
    margin-left: 15px;
  }
  .signup{
    /* width: 150%; */
    display: grid;
    gap: 40px;
  }
  .userType{
    height: 70px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-size: larger;
  }