.tableRequest{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 0px 2%;
}
.overview{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 15px;
    margin: -4% 70px;
    color: black;
}
.newoverview{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 15px;
    /* margin: -4% 70px; */
    color: black;
}
.nextPage{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 50px;
    margin-top: 3%;
}
.nextPage button{
    background-color: #351063;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}